---
- hosts: all
  become: yes
  tasks: 
    
  - name: download artifacts
    get_url: 
      url: http://18.117.9.166:8081/nexus/service/local/repositories/jaga/content/java1/api/16/api-16.war
      dest: /usr/share/tomcat
      url_username: jaga
      url_password: jaga
      
  - name: restart tomcat
    systemd: 
      name: tomcat
      state: restarted
